.cabecera-inicio
    position: fixed
    top: 0
    left: 0
    right: 0
    position: relative
    height: 250px
    background-color: 
    
.icono-menu
    position: absolute
    width: 30px
    padding: 1rem
    right: 0

.noticia // div
    background-color: $gris
    width: 100%
    position: relative
    &__titulo // h1
        font-weight: 500
        position: absolute
        top: 0
        left: 0
    &__categoria // ul>li
        
    &__fecha // p
        font-style: italic
    &__tiempo-lectura // p